body{
margin: 0;
padding: 0;
background-color: #0f1192;    
min-height: 100vh; 
overflow: hidden;
font-family: Arial, Helvetica, sans-serif;
}

footer{
background-color: #C6C6C6;
height: 30px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid  white;
position: absolute;
bottom: 0;
padding: 0;
margin: 0;
}

.border-none{
    width: 95%;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-dotted{
    width: 95%;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #000000;    
}

.start{
background-color: #C6C6C6;
width: 60px;
height: 30px;
font-size: 12px;
margin: 1px;
display: flex; 
align-items: center;
justify-content: space-evenly;
padding: 0; 
border: 1.5px outset white;
font-weight: 600;
}

.start-toggle{
background-color: #C6C6C6;
width: 60px;
height: 30px;
font-size: 12px;
margin: 1px;
display: flex; 
align-items: center;
justify-content: space-evenly;
padding: 0; 
border: 1.5px inset white;
font-weight: 600;
}

.ico-win{
width: 16px;
height: 16px;  
}

.notification-area{
background-color: #C6C6C6;
width: 90px;
height: 25px;
display: flex;
align-items: center;
justify-content:space-around; 
font-size: 12px;
font-weight:normal;
padding-right: 2px; 
border: 1.5px inset white;
margin-right: 3px;
}

